<app-header-admin></app-header-admin>

<div class="trang">
	<div class="container-fluid">
		<!--toàn trang-->
		<div class="row">
			<!--toàn trang-->

			<!--sidebar-->
			<app-sidebar-admin></app-sidebar-admin>


			<div class="col-sm-9 col-sm-offset-3  col-md-offset-2 main" style="margin-left:250px;">
				<div class="QLSP">
					<h1>Quản lý sản phẩm</h1>
				</div>

				<!--Search - sort form-->

				<!-- <form method="post" class="form-inline"
						action="/SanPhamServlet">
						<nav class="collapse navbar-collapse navbar-ex1-collapse">
							<div class="breadcrumb">
								<div class="topnav-right">
									<div class="search-container">
										<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

											<input class="form-control mr-sm-2" type="text"
												placeholder="Search" name="search" id="search"
												value="${search }">
											<div class="searchbutton">
												<input type="submit" value="Search">
												
											</div>
										</nav>
									</div>
								</div>
								<a class="btn btn-warning" href="LoaiSPServlet">Loại sản
									phẩm </a>
								
								<select class="btn btn-success dropdown-toggle" onchange="this.form.submit()"
									name="selectLoaiSP" id="selectLoaiSP">
									<c:forEach var="loaiSP" items="${listLoaiSP}">
										<option value="${loaiSP.getMaLoai()}">
											<c:out value="${loaiSP.getTenLoaiSP()}" /></option>
									</c:forEach>
									<option value="*" selected="selected">default</option>
								</select>
								<script type="text/javascript">
									document.getElementById("selectLoaiSP").value = "${selectLoaiSP}";
								</script>
								<select class="btn dropdown-toggle" onchange="this.form.submit()"
									name="sort" id="sort">
									<option value="AZ">A-Z</option>
									<option value="ZA">Z-A</option>
								</select>
								<script type="text/javascript">
									document.getElementById("sort").value = "${sort}";
								</script>
							</div>
						</nav>
                    </form> -->

				<div class="table-responsive">
					<table class="table table-bordered">

						<tr>
							<th>Tên Sản Phẩm</th>
							<th>Số lượng</th>
							<th>Giá ban đầu</th>
							<th>Giá bán</th>
							<th>Khuyến mãi (%)</th>
							<th width="110px">Hình ảnh</th>
							<th>Tên loại</th>
							<th>Lựa chọn</th>
						</tr>

						<tbody>
							<tr *ngFor="let sanpham of sanphams | async">

								<td>{{sanpham.tensp}}</td>
								<td>{{sanpham.soluong}}</td>
								<td>{{sanpham.giabd}}</td>
								<td>{{sanpham.giaban}}</td>
								<td>{{sanpham.ttkm}}</td>
								<td><img src="http://localhost:4000/{{sanpham.hinhsp}}"
									width="100px" height="100px"></td>
								<!-- <td>{{sanpham.hinhsp}}</td> -->
								<td>{{sanpham.maloai}}</td>
								<td width="155px">
									<button (click)="deleteSanPham(sanpham._id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
									<button (click)="editSanPham(sanpham._id)" class="btn btn-primary"
										style="margin-left: 10px" data-toggle="modal"
										data-target="#myModalEdit"><i class="fa fa-edit"></i></button>
									<!-- <button (click)="uploadSanPham(sanpham._id)" class="btn btn-success"
										style="margin-left: 10px" data-toggle="modal"
										data-target="#myModalUpload"><i class="fa fa-upload"></i></button> -->

								</td>
							</tr>

						</tbody>
					</table>
				</div>


				<div class="container">
					<div class="btnThem">
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#myModalThem">Thêm
							sản phẩm</button>
					</div>
				</div>



				<!-- The Modal THEM-->

				<div class="modal fade" id="myModalThem">
						<form [formGroup]="addForm" (ngSubmit)="onSubmitCreate(addForm)">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<!-- Modal Header -->

								<div class="modal-header">
									<h3 class="modal-title">Thêm sản phẩm</h3>
								</div>



								<!-- Modal body -->

								<div class="modal-body">
									<div class="form_row">
										<label>Tên sản phẩm :</label>
										<input type="text" class="form_input" name="tensp" required="required"
										formControlName="tensp" id="tensp"  />
									</div>
									<div class="form_row">
										<label>Số lượng :</label>
										<input type="number" step="1" min="10" max="1000" class="form_input"
											name="soluong" required="required" formControlName="soluong" id="soluong" />

									</div>
									<div class="form_row">
										<label>Giá ban đầu :</label>
										<input type="number" class="form_input" step="1000" min="1000" max="100000000"
											id="giabd" name="giabd" required="required" formControlName="giabd" id="giabd" />

									</div>

									<div class="form_row">
										<label>Khuyến mãi :</label>
										<input type="number" class="form_input" step="1" min="0" max="99" id="ttkm"
											name="ttkm" required="required" formControlName="ttkm" id="ttkm" />
										<p style="font-size: 10px;color: tomato;margin-left: 150px;">Giá bán ra = Giá
											ban đầu - Giá ban đầu * (Khuyến mãi * 0.01)</p>

									</div>

									<div class="form_row">
										<label>Hình ảnh :</label>
										<input style="height: 50px;" type="file" alt="accept" class="form_input" 
										(change)="selectImage($event)"	 />

									</div>

									<div class="form_row">

										<label>Loại sản phẩm :</label>

										<select style="width: 210px;" class="form-control" name="maloai"
										formControlName="maloai" id="maloai">
											<option *ngFor="let loaisp of loaisps | async">
												{{loaisp.tenloaisp}}
											</option>
										</select>

									</div>

									
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<div class="pull-right">
										<button type="submit" class="btn btn-success">Submit</button>
									</div>

									<button type="button" class="btn btn-secondary pull-left"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>

				</div>

				<div class="modal fade" id="myModalEdit">
					<form (ngSubmit)="onSubmitEdit()">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<!-- Modal Header -->

								<div class="modal-header">
									<h3 class="modal-title">Cập nhật sản phẩm</h3>
								</div>



								<!-- Modal body -->
								<div class="modal-body">

									<div class="form_row">
										<label>Tên sản phẩm :</label>
										<input type="text" class="form_input" name="tensp" required="required"
											[(ngModel)]="sanpham.tensp" />
									</div>
									<div class="form_row">
										<label>Số lượng :</label>
										<input type="number" step="1" min="10" max="1000" class="form_input"
											name="soluong" required="required" [(ngModel)]="sanpham.soluong" />

									</div>
									<div class="form_row">
										<label>Giá ban đầu :</label>
										<input type="number" class="form_input" step="1000" 
											min="1000" max="100000000" id="giabd" name="giabd" required="required"
											[(ngModel)]="sanpham.giabd" />

									</div>

									<div class="form_row">
										<label>Khuyến mãi :</label>
										<input type="number" class="form_input" step="1"  min="0"
											max="99" id="ttkm" name="ttkm" required="required"
											[(ngModel)]="sanpham.ttkm" />

										<p style="font-size: 10px;color: tomato;margin-left: 150px;">Giá bán ra = Giá
											ban đầu - Giá ban đầu * (Khuyến mãi * 0.01)</p>

									</div>


									<div class="form_row">
										<label>Hình ảnh :</label>
										<input style="height: 50px;" type="file" alt="accept" class="form_input" 
										(change)="selectImageUpload($event)" name="hinhsp" required="required"/>

									</div>
									<!-- <div class="form_row">
										<label>Hình ảnh :</label>
										<input type="file" alt="accept" class="form_input" 
										(change)="selectImage($event)"	name="hinhsp" required="required"/>

									</div> -->
									<div class="form_row">

										<label>Loại sản phẩm :</label>

										<select style="width: 210px;" class="form-control" name="maloai"
											[(ngModel)]="sanpham.maloai">
											<option *ngFor="let loaisp of loaisps | async">
												{{loaisp.tenloaisp}}
											</option>
										</select>

									</div>

								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<div class="pull-right">
										<button type="submit" class="btn btn-success">Submit</button>
									</div>

									<button type="button" class="btn btn-secondary pull-left"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>

				</div>
				<!-- <div class="modal fade" id="myModalUpload">
					<form (ngSubmit)="onSubmitUpload()">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								

								<div class="modal-header">
									<h3 class="modal-title">Upload</h3>
								</div>



								
								<div class="modal-body">									
									<div class="form_row">
										<label>Hình ảnh :</label>
										<input style="height: 50px;" type="file" alt="accept" class="form_input" 
										(change)="selectImageUpload($event)"	name="hinhsp" required="required"/>

									</div>
									
								</div>
								
								<div class="modal-footer">
									<div class="pull-right">
										<button type="submit" class="btn btn-success">Submit</button>
									</div>

									<button type="button" class="btn btn-secondary pull-left"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>

				</div> -->



			</div>
		</div>
	</div>
</div>