<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footCol1">
                    <h6>ĐẶT HÀNG</h6>
                    <hr>
                    <img src="./../../assets/img/giaohang.png">
                </div>

                <div class="col-md-4 footCol2">
                    <h6>GIỚI THIỆU</h6>
                    <hr>
                    <p style="font-size: 13px;">
                        Công ty TNHH GIN'S CHICKEN <br>Địa chỉ: 484 Lê Văn Việt,
                        Tăng Nhơn Phú A, quận 9, TP HCM
                    </p>
                </div>

                <div class="col-md-4 footCol3">
                    <h6>LIÊN HỆ</h6>
                    <hr />
                    <a href="#"><i class="fa fa-facebook-square"
                        style="margin-left: 30px;"></i></a> <a href="#"><i
                        class="fa fa-envelope"></i></a> <a href="#"><i
                        class="fa fa-google-plus-square"></i></a>
                </div>
            </div>
        </div>

    </footer>
