<section class="body_content">
        
        <!--Header-->
        <app-header-guest></app-header-guest>
        <div class="container">

                <section class="AboutUs">
    
                    <div class="row r1">
                        <div class="col-md-7 ">
                            <img src="./../../assets/img/tintuc2.jpg">
                        </div>
    
                        <div class="col-md-5 tin1">
                            <div class="center">
                                <p>
                                    <em><strong>GIN'S CHICKEN</strong> <br>Với sự hợp tác
                                        ăn ý của team Nga-Lộc-Trâm, website fastfood ra đời với nhiều
                                        cột mốc không ai ngờ tới</em>
                                </p>
                                <p align="right">--by Me--</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="row r2">
                        <div class="col-md-5 tin1">
                            <div class="center">
                                <p>
                                    <em><strong>ĐIỂM NỔI BẬT</strong> <br>Lorem ipsum,
                                        dolor sit amet consectetur adipisicing elit. Alias velit
                                        repudiandae quam architecto ipsum, amet ab distinctio tenetur
                                        explicabo ut, omnis illo quod voluptates consequuntur, et
                                        itaque autem quaerat non.</em>
                                </p>
                                <p align="right">--by Me--</p>
                            </div>
                        </div>
    
                        <div class="col-md-7">
                            <img src="./../../assets/img/3chic.jpg">
    
                        </div>
                    </div>
                    <div class="row r3">
                        <div class="col-md-6">
                            <div class="tin3">
                                <img src="./../../assets/img/grid.png">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="col" style="width: 500px; height: 500px;">
                                <div class="row-md-6 tin3-1">
                                    <p align="center">Lorem ipsum, dolor sit amet consectetur
                                        adipisicing elit. Architecto quia magnam nostrum nulla
                                        repudiandae cumque, quisquam magni culpa.</p>
                                </div>
    
                                <div class="row-md-6 tin3-2">
                                    <img src="./../../assets/img/familychic.png">
                                </div>
    
                            </div>
    
                        </div>
                    </div>
    
    
                </section>
            </div>
    
    
            <!--Footer-->
            <app-footer-guest></app-footer-guest>
        </section>
    
