<app-header-admin></app-header-admin>

<div class="container-fluid">
    <div class="row">

        <!--sidebar-->
        <app-sidebar-admin></app-sidebar-admin>

        <div class="col-sm-9 col-sm-offset-3  col-md-offset-2 main" style="margin-left:250px;">
            <div class="QLSP">
                <h1>Quản lý nhân viên</h1>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">

                    <tr>
                        <th>Id account</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Lựa chọn</th>
                    </tr>

                    <tbody>
                        <tr *ngFor="let nhanvien of nhanviens | async">

                            <td>{{nhanvien.idaccount}}</td>
                            <td>{{nhanvien.hoten}}</td>
                            <td>{{nhanvien.gioitinh}}</td>
                            <td>{{nhanvien.diachi}}</td>
                            <td>{{nhanvien.email}}</td>
                            <td>{{nhanvien.sdt}}</td>
                            <td width="155px">
                                <button (click)="deleteNhanVien(nhanvien._id, nhanvien.idaccount)"
                                    class="btn btn-danger">Xóa</button>
                                <button (click)="onSubmitEdit(nhanvien._id)" class="btn btn-primary"
                                    style="margin-left: 10px" data-toggle="modal"
                                    data-target="#myModalEdit">Sửa</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>





            <div class="container">
                <div class="btnThem">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalThemAcc">Thêm
                        nhân viên</button>
                </div>
            </div>


            <div class="modal fade" id="myModalThem">
                <form (ngSubmit)="onSubmitCreate()">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h3 class="modal-title">Thêm nhân viên</h3>
                            </div>

                            <!--Modal body-->
                            <div class="modal-body">
                                <div class="form_row">
                                    <label> Id account :</label> <input type="text" class="form_input" name="_id"
                                        required="required" [(ngModel)]="account._id" />

                                </div>
                                <div class="form_row">
                                    <label>Tên nhân viên :</label> <input type="text" class="form_input" name="hoten"
                                        required="required" [(ngModel)]="nhanvien.hoten" />
                                </div>
                                <div class="form_row">
                                    <label>Giới tính:</label>
                                    <form action="">
                                        <input type="radio" name="gioitinh" value="Nam" [(ngModel)]="nhanvien.gioitinh">
                                        Nam<br>
                                        <input type="radio" name="gioitinh" value="Nữ" [(ngModel)]="nhanvien.gioitinh">
                                        Nữ<br>

                                    </form>
                                </div>
                                <div class="form_row">
                                    <label>Địa chỉ :</label> <input type="text" class="form_input" name="diachi"
                                        required="required" [(ngModel)]="nhanvien.diachi" />
                                </div>
                                <div class="form_row">
                                    <label> Email :</label> <input type="text" class="form_input" name="email"
                                        required="required" [(ngModel)]="nhanvien.email" />
                                </div>
                                <div class="form_row">
                                    <label> Số điện thoại :</label> <input type="text" class="form_input" name="sdt"
                                        required="required" [(ngModel)]="nhanvien.sdt" />
                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success" >Submit</button>
                                </div>

                                <button type="button" class="btn btn-secondary pull-left"
                                    data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>

            <!--Modal them account-->
            <div class="modal fade" id="myModalThemAcc">
                <form (ngSubmit)="onSubmitCreateAcc()">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->

                            <div class="modal-header">
                                <h3 class="modal-title">Thêm tài khoản</h3>
                            </div>
                            <!-- Modal body -->

                            <div class="modal-body">
                                <div class="form_row">
                                    <label> Tên đăng nhập :</label> <input type="text" class="form_input" name="tendn"
                                        required="required" [(ngModel)]="account.tendn" />
                                </div>
                                <div class="form_row">
                                    <label>Mật khẩu:</label> <input type="text" class="form_input" name="matkhau"
                                        id="matkhau" [(ngModel)]="account.matkhau" />
                                </div>

                                <div class="form_row">
                                    <label>Quyền hạn:</label>
                                    <form action="">
                                        <input type="radio" name="quyenhan" value="Admin" [(ngModel)]="account.quyenhan" />Admin <br>
                                        <input type="radio" name="quyenhan" value="User" checked [(ngModel)]="account.quyenhan"  />User <br>
                                    </form>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success" data-toggle="modal"
                                     data-target="#myModalThem">Submit</button>
                                </div>

                                <button type="button" class="btn btn-secondary pull-left"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>





</div>