<app-header-admin></app-header-admin>

<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <app-sidebar-admin></app-sidebar-admin>

        <div class="col-sm-9 col-sm-offset-3  col-md-offset-2 main" style="margin-left:250px;">
            <div class="QLSP">
                <h1>Quản lý loại sản phẩm</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">

                    <tr>
                        <th width="200px">Mã loại</th>
                        <th>Tên loại sản phẩm</th>
                        <th width="200px">Lựa chọn</th>
                    </tr>

                    <!-- <c:forEach var="loaisp" items="${listLoaiSP}">
                        <tbody>
                            <tr>
                                <td><c:out value="${loaisp.getMaLoai()}" /></td>
                                <td><c:out value="${loaisp.getTenLoaiSP()}" /></td>
                                <td width="75px"><a
                                    href="/LoaiSPServlet/edit?maLoai=<c:out value="${loaisp.getMaLoai()}" />"
                                    class="edit"> <span class="glyphicon glyphicon-edit"></span></a>
                                    <a
                                    href="/LoaiSPServlet/delete?maLoai=<c:out value="${loaisp.getMaLoai()}" />"
                                    class="delete"> <span
                                        class="glyphicon glyphicon-remove-sign"></span>
                                </a></td>

                                <%-- <td width="200px">
                                    <a data-toggle="modal"
                                    data-target="#modalSua" href="LoaiSPServlet/edit"> 
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a
                                    href="LoaiSPServlet/delete?maLoai=<c:out value='${loaisp.maLoai}' />">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </a>
                                
                                </td> --%>

                            </tr>

                        </tbody>
                    </c:forEach> -->
                </table>
            </div>

            <div class="btnThem">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#myModal">Thêm mới</button>
            </div>



            <!-- <c:if test="${loaiSanPham == null }">
                <form method="post" action="/LoaiSPServlet/insert">
            </c:if>
            <c:if test="${loaiSanPham != null }">
                <form method="post" action="/LoaiSPServlet/update">
            </c:if> -->



            <!-- The Modal THEM-->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <!-- <c:if test="${loaiSanPham == null }">
                            <div class="modal-header">
                                <h3 class="modal-title">Thêm sản phẩm</h3>
                            </div>
                        </c:if>
                        <c:if test="${loaiSanPham != null }">
                            <div class="modal-header">
                                <h3 class="modal-title">Sửa sản phẩm</h3>
                            </div>
                        </c:if> -->


                        <!-- Modal body -->

                        <!-- <div class="modal-body">
                            <div class="">
                                <div class="form_row">
                                    <c:if test="${loaiSanPham != null }">
                                        <label>Mã loại:</label>
                                        <input type="text" class="form_input" name="txtMaLoai"
                                            required="required" readonly="readonly"
                                            value="${loaiSanPham.getMaLoai() }" />
                                    </c:if>
                                    <c:if test="${loaiSanPham == null }">
                                        <label>Mã loại:</label>
                                        <input type="text" class="form_input" name="txtMaLoai"
                                            required="required" readonly="readonly" value="${maLoaiMoi}" />
                                    </c:if>
                                </div>
                                <div class="form_row">
                                    <label>Tên sản phẩm :</label> <input type="text"
                                        class="form_input" name="txtTenLoaiSP" required="required"
                                        value="${loaiSanPham.getTenLoaiSP() }" />
                                </div>

                            </div>
                        </div> -->

                        <!-- Modal footer -->
                        <!-- <div class="modal-footer">
                            <div class="pull-right">
                                <c:if test="${loaiSanPham == null }">
                                    <input type="submit" class="btn btn-success" value="Thêm Mới"></input>
                                </c:if>
                                <c:if test="${loaiSanPham != null }">
                                    <input type="submit" class="btn btn-success" value="Sửa"></input>
                                </c:if>

                            </div>

                            <button type="button" class="btn btn-secondary pull-left"
                                data-dismiss="modal">Close</button>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- <c:if test="${loaiSanPham != null }">
    <script type="text/javascript">
        jQuery.noConflict();
        $('#myModal').modal('show');
    </script>
</c:if> -->
