<app-header-admin></app-header-admin>
<div class="container-fluid">
    <div class="row">
        <!--sidebar-->
        <app-sidebar-admin></app-sidebar-admin>

        <div class="col-sm-9 col-sm-offset-3  col-md-offset-2 main" style="margin-left:250px;">
            <div class="QLSP">
                <h1>Danh sách hóa đơn</h1>

            </div>

            <div class="table-responsive">

                <table class="table table-bordered">

                    <tr>

                        <th>Mã khách hàng</th>
                        <th>Mã nhân Viên</th>
                        <th>Tổng tiền</th>
                        <th>Ngày lập</th>
                        <th>Trạng thái</th>
                        <th>Lựa chọn</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let hoadon of hoadons | async">

                            <td>{{hoadon.makh}}</td>
                            <td>{{hoadon.manv}}</td>
                            <td>{{hoadon.tongtien}}</td>
                            <td>{{hoadon.ngaylap}}</td>
                            <td>{{hoadon.trangthai}}</td>
                            <td width="155px">
                                <button (click)="deleteHoaDon(hoadon._id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                <button (click)="editHoaDon(hoadon._id)" class="btn btn-primary"
                                    style="margin-left: 10px" data-toggle="modal"
                                    data-target="#myModalEdit"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>


        <!--Modal edit hoa don-->
        <div class="modal fade" id="myModalEdit">
            <form (ngSubmit)="onSubmitEdit()">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->

                        <div class="modal-header">
                            <h3 class="modal-title">Cập nhật hóa đơn</h3>
                        </div>



                        <!-- Modal body -->

                        <div class="modal-body">
                            <div class="form_row">
                                <label>Mã nhân viên :</label>
                                <input type="text" class="form_input" name="manv" required="required"
                                    [(ngModel)]="hoadon.manv" />
                            </div>
                            <div class="form_row">
                                <label>Trạng thái :</label>
                                <input type="text" class="form_input" name="trangthai" required="required"
                                    [(ngModel)]="hoadon.trangthai" />
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>

                            <button type="button" class="btn btn-secondary pull-left"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>


    </div>
</div>