<!-- <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="KhachHangServlet">Khách hàng</a></li>
        <li><a href="NhanVienServlet">Nhân viên</a></li>
        <li><a href="LoaiSPServlet">Loại sản phẩm</a></li>
        <li><a href="SanPhamServlet">Sản phẩm</a></li>
        <li><a href="HoaDonServlet">Đơn hàng</a></li>
        <li><a href="TinKMServlet">Tin khuyến mãi</a></li>
    </ul>
</div> -->

<div class="wrapper">
    <aside class="main_sidebar">
        <ul style="padding-top: 20px;">
            <li><i class="fa fa-clone"></i><a class="nav-link" routerLink="/admin/loaisp" class="nav-link" routerLinkActive="active">Loại sản phẩm</a></li>
            <li><i class="fa fa-cutlery"></i><a class="nav-link" routerLink="/admin/sanpham" class="nav-link">Sản phẩm</a></li>
            <!-- <li class="active"><i class="fa fa-bell"></i><a href="#">bell</a></li> -->
            <li><i class="fa fa-user-circle"></i><a class="nav-link" routerLink="/admin/khachhang" class="nav-link">Khách hàng</a></li>
            <li><i class="fa fa-user-o"></i><a class="nav-link" routerLink="/admin/nhanvien" class="nav-link">Nhân viên</a></li>
            <li><i class="fa fa-handshake-o"></i><a class="nav-link" routerLink="/admin/hoadon" class="nav-link">Đơn hàng</a></li>
            <li><i class="fa fa-gift"></i><a class="nav-link" routerLink="/admin/tinkm" class="nav-link">Tin khuyến mãi</a></li>

        </ul>
    </aside>
</div>