<section class="body_content">

    <!--Header-->
    <app-header-guest></app-header-guest>


    <div class="tieude">
        <img src="./../../assets/img/familychicOrange.jpg">

    </div>


    <!-- danh mục Gà -->


    <div class="container">

        <section class="showFood">
            <h3>MÓN NGON</h3>
            <form method="post" class="form-inline" action="/ThucDon">



                <!-- <div class="input-group mb-3"
                            style="margin-left: 200px; font-size: 20px;">
                            <select class="form_input" onchange="this.form.submit()"
                                name="selectLoaiSP" id="selectLoaiSP">
                                <c:forEach var="loaiSP" items="${listLoaiSP}">
                                    <option value="${loaiSP.getMaLoai()}">
                                        <c:out value="${loaiSP.getTenLoaiSP()}" /></option>
                                </c:forEach> 
                                <option value="*" selected="selected">default</option>
                            </select>
    
                            <script type="text/javascript">
                                document.getElementById("selectLoaiSP").value = "${selectLoaiSP}";
                            </script>
                            <select class="form_input" onchange="this.form.submit()"
                                name="sort" id="sort">
                                <option value="AZ">A-Z</option>
                                <option value="ZA">Z-A</option>
                            </select>
                            <script type="text/javascript">
                                document.getElementById("sort").value = "${sort}";
                            </script>
                        </div> -->
                <!-- <div class="input-group mb-3 searchbox" style="margin-left: 40px;">
    
                            <input type="text" class="form-control" placeholder="Tìm kiếm"
                                name="search" id="search" value="${search }">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
    
                        </div> -->


            </form>

            <div class="row">
                <!-- <c:forEach var="SP" items="${listSP}"> -->
                <div *ngFor="let sanpham of sanphams">
                    <div class="col-md-4 ">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="http://localhost:3000/{{sanpham.hinhsp}}" height="200"
                                    alt="Card image Not found">
                            </div>

                            <div class="card-body">
                                <h4 class="card-title" style="margin-bottom: 20px;">
                                    {{sanpham.tensp}}
                                </h4>
                                <div style="text-align: left;">
                                    Giá khuyến mãi: <span
                                        style="font-size: 20px;font-weight: bold;color: crimson;    margin-left: 10px;">
                                        {{sanpham.giaban}} </span>
                                    VNĐ
                                </div>
                                <!-- <ng-template #giacu>
                                    <div style="text-decoration: line-through; text-align: left;">
                                        Giá cũ:<p>{{sanpham.giabd}}</p>
                                    </div>
                                </ng-template>
                                <ng-template #giamoi>
                                    <div style="text-align: left;">
                                        Giá khuyến mãi::<p>{{sanpham.giaban}}</p>
                                    </div>
                                </ng-template> -->

                                <div>
                                    <a href="" class="btn btn-primary">ĐẶT MUA</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
            <mat-paginator [length]="totalProduct" [pageSize]="productsPerPage" 
                    (page)="onChangedPage($event)">
                </mat-paginator>

        </section>
    </div>


    <!--Footer-->
    <app-footer-guest></app-footer-guest>
</section>