<section class="body_content">

	<!--Header-->
	<app-header-guest></app-header-guest>


	<h2>~ HOT DEAL ~</h2>

	<!-- tin khuyen mai -->
	<div class="container">
		<section class="ShowKM">

			<div class="row">
				<div *ngFor="let tinkm of tinkms">
					<div class="col-md-6 ">
						<div class="card" style="margin-bottom: 20px; height: 670px;width: 490px;">

							<img alt="Not found" src="http://localhost:3000/{{tinkm.hinhanh}}" width="485px"
								height="300px">
							<h4>
								{{tinkm.tieude}}
							</h4>

							<p align="justify">
								{{tinkm.noidung}}
							</p>




						</div>
					</div>
				</div>



			</div>

		</section>
	</div>




	<!-- form show tin km -->

	<!-- <c:if test="${tinKhuyenMai != null }">
			<form method="post" action="/TinKMServlet/showKM">
		</c:if> -->
	<div class="container">
		<div class="viewmoreKM">
			<div class="modal fade" id="myModalKM1">

				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">


						<div class="modal-header">


							<!-- <c:if test="${tinKhuyenMai != null }">
									<h2 class="modal-title" name="MaTKM"
									value="${tinKhuyenMai.getTieuDe()}"></h2>
								</c:if> -->


							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>


						<div class="modal-body">
							<p align="justify">
								Gin's Chicken đã trở lại với ưu đãi cực hot!!! <br> Cùng
								tận hưởng COMBO 6 MIẾNG GÀ GIÒN KHÔNG CAY chỉ với 149.000VNĐ <br>
								Chương trình bắt đầu từ 20/10/2018 đến 24/12/2018 với tất cả
								các ngày trong tuần. Không giới hạn số combo cho 1 hóa đơn <br>Còn
								chần chờ gì nữa, mau order để cùng hưởng ưu đãi nào các bạn!! <br>---------
								<br>Điều kiện áp dụng: <br>- Áp dụng đặt hàng online
								qua website Gin's Chicken, Hotline 1800-XXXX <br>- Từ
								20/10 - 24/12/2018
							</p>
							<img src="./img/km149k.png">
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
						</div>

					</div>
				</div>


			</div>



		</div>

	</div>



	<!--Footer-->
	<app-footer-guest></app-footer-guest>
</section>