<nav class="navbar navbar-expand-md navbar-light nav_edit"
    style="height: 135px; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgba(53, 54, 54, 0.86); z-index: 3;">

    <a class="navbar-brand nav-link" routerLink="/trangchu"> <img src="./../../assets/img/logo1.png"
            class="d-inline-block align-top" alt="">
        <h1>Gin's Chicken</h1>
    </a>

    <button class="navbar-toggler hidden-lg-up " type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav_edit1 " id="collapsibleNavId"
        style="margin-top: 80px; margin-right: -15px;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <li class="nav-item main_page">
                
                <a class="nav-link" routerLink="/trangchu" class="nav-link" routerLinkActive="active">Trang chủ</a>
            </li>
            <li class="nav-item"><a routerLink="/thucdon" class="nav-link">Thực đơn </a></li>
            <li class="nav-item"><a routerLink="/khuyenmai" class="nav-link">Khuyến mãi </a></li>
            <li class="nav-item"><a routerLink="/tintuc" class="nav-link">Tin
                    tức </a></li>
        </ul>

    </div>
</nav>


<div class="checkdki-dn ml-auto">

    <!-- <c:if test="${tenDN!=null}"> -->
    <!-- <p>
        Hello <strong></strong> | <a href="/LogoutServlet"><i class="fa fa-pencil"></i>
            Đăng Xuất</a>
    </p> -->
    <!-- </c:if> -->
    <!-- <c:if test="${tenDN==null}"> -->

    <a routerLink="/login" id="dangNhap"><i class="fa fa-user"></i>
        Đăng Nhập</a> | <a href="#" data-toggle="modal" data-target="#myModalSignup" id="dangKy"><i
            class="fa fa-pencil"></i>
        Đăng Ký</a>

    <!-- </c:if> -->
</div>

<div class="hotline">
    <i class="fa fa-phone-square"> 1800-XXXX</i>
</div>

<!-- <%
        Cart cart = (Cart) session.getAttribute("cart");
        if (cart == null) {
            cart = new Cart();
            session.setAttribute("cart", cart);
        }
    %> -->
<div class="check_giohang">

    <a routerLink="/ktragiohang" class="nav-link"><i class="fa fa-shopping-basket"></i>
        GIỎ HÀNG </a>
</div>

<div class="container">

    <!-- dang ky nek  -->

    
    <div class="modal fade" id="myModalSignup">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitCreate(signupForm)">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">Đăng Ký</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">


                        <div class="form-group">
                            <input type="text" class="form-control" name="hoten" formControlName="hoten" id="hoten"
                                placeholder="Họ và tên"
                                [ngClass]="{'is-invalid':signupForm.get('hoten').touched && signupForm.get('hoten').invalid }"
                                required />

                                <div *ngIf="signupForm.get('hoten').touched && signupForm.get('hoten').invalid"
                                class="invalid-feedback">
                                <div *ngIf="signupForm.controls.hoten.errors.required">Khách cần nhập họ tên</div>
                                <div *ngIf="signupForm.controls.hoten.errors.pattern">Họ tên không hợp lệ</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="diachi" formControlName="diachi" id="diachi"
                                placeholder="Địa chỉ"
                                [ngClass]="{'is-invalid':signupForm.get('diachi').touched && signupForm.get('diachi').invalid }"
                                required />
                            <div class="invalid-feedback">
                                <div>Khách cần nhập địa chỉ</div>
                            </div>

                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" formControlName="email" id="email" name="email"
                                [ngClass]="{'is-invalid':signupForm.get('email').touched && signupForm.get('email').invalid}"
                                required placeholder="Email" />
                            <div *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid"
                                class="invalid-feedback">
                                <div *ngIf="signupForm.controls.email.errors.required">Khách cần nhập email</div>
                                <div *ngIf="signupForm.controls.email.errors.email">Email không hợp lệ</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="sdt" formControlName="sdt" id="sdt"
                                placeholder="SDT"
                                [ngClass]="{'is-invalid':signupForm.get('sdt').touched && signupForm.get('sdt').invalid }"
                                required />

                                <div *ngIf="signupForm.get('sdt').touched && signupForm.get('sdt').invalid" class="invalid-feedback">
                                    <div *ngIf="signupForm.controls.sdt.errors.required"> Khách cần nhập số điện thoại</div>
                                    <div *ngIf="signupForm.controls.sdt.errors.pattern || 
                                                                    signupForm.controls.sdt.errors.minlength || 
                                                                    signupForm.controls.sdt.errors.maxlength">Số điện thoại không hợp lệ</div>
                                    
                                </div>

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tendn" formControlName="tendn" id="tendn" placeholder="Tên đăng nhập"
                                [ngClass]="{'is-invalid':signupForm.get('tendn').touched && signupForm.get('tendn').invalid}" required />
                            
                            <div *ngIf="signupForm.get('tendn').touched && signupForm.get('tendn').invalid" class="invalid-feedback">
                                <div *ngIf="signupForm.controls.tendn.errors.required">Khách cần nhập Tên đăng nhập </div>
                                <div *ngIf="signupForm.controls.tendn.errors.pattern">Các kí tự: [a-z], [A-Z], [0-9], _ được cho phép, độ dài khoảng
                                    (6,20) kí tự</div>
                            </div>

                        </div>


                        <div class="form-group">
                            <input type="password" id="matkhau" name="matkhau" class="form-control"
                                formControlName="matkhau" placeholder="Mật khẩu"
                                [ngClass]="{'is-invalid':signupForm.get('matkhau').touched && signupForm.get('matkhau').invalid }"
                                required>

                            <div *ngIf="signupForm.get('matkhau').touched && signupForm.get('matkhau').invalid"
                                class="invalid-feedback">
                                <div *ngIf="signupForm.controls.matkhau.errors.required">Khách cần nhập mật khẩu</div>
                                <div *ngIf="signupForm.controls.matkhau.errors.minlength">Mật khẩu tối thiếu 6 kí tự
                                </div>
                                
                                <div *ngIf="signupForm.controls.matkhau.errors.pattern">Các kí tự: [a-z], [A-Z], [0-9], _ . - được cho phép</div>
                            </div>


                        </div>
                        <div class="form-group">
                            <input type="password" id="matkhau2" name="matkhau2" class="form-control"
                                formControlName="matkhau2" placeholder="Nhập lại Mật khẩu"
                                [ngClass]="{'is-invalid':signupForm.get('matkhau2').touched && signupForm.get('matkhau2').invalid}"
                                required>

                            <div *ngIf="signupForm.get('matkhau2').touched && signupForm.get('matkhau2').invalid"
                                class="invalid-feedback">
                                <div *ngIf="signupForm.controls.matkhau2.errors.required">Khách cần nhập lại mật khẩu
                                </div>
                                <div *ngIf="signupForm.controls.matkhau2.errors.NoPassswordMatch">Mật khẩu không chính
                                    xác</div>

                            </div>

                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" [disabled]="!signupForm.valid">
                            <i class="fa fa-arrow-right"></i>
                        </button>


                    </div>

                </div>
            </div>
        </form>
    </div>



    <!-- <div class="modal fade" id="myModalQuenMK">

        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">


                <div class="modal-header">
                    <h4 class="modal-title">Quên mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-body">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nhập email" id="email" name="email"
                            required>

                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Mã code" id="code" name="code" required>


                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Mật khẩu mới" id="newpassword"
                            name="newpassword" required>

                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nhập lại mật khẩu mới" id="newpassword2"
                            name="newpassword2" required>

                    </div>

                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" id="btnQuenMK" onclick="validateQuenMK()">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>

            </div>
        </div> 


    </div>
</div>-->